/*      Colours

Darker Set - https://coolors.co/d388d3-0b5a84-9b1908-4b1d3f-053b06

--bright-lilac: #D388D3FF;
--blue-sapphire: #0B5A84FF;
--rufous: #9B1908FF;
--dark-purple: #4B1D3FFF;
--forest-green-traditional: #053B06FF;

/*
*      Global Styles
*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}
a:hover {
  background-color: lightgrey;
}
body {
  margin: 0;
}
section {
  padding: 0 5% 0 5%;
}
h2 {
  font-size: 200%;
  text-align: center;
}
h3 {
  font-size: 140%;
}
h4 {
  font-size: 100%;
  margin: 0;
}

/*
*      Navigation Styles
*/

nav {
  padding-top: 2em;
}
nav ul {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}
nav li {
  width: 100%;
  margin: 0;
  background-color: #053B06FF;
}
nav li a {
  display: block;
  text-align: center;
  padding: 0.5em 0;
  color: white;
}

/*
*      Header Styles
*/

header {
  width: 100%;
  height: 400px;
  text-align: center;
  background-image: url("../media/backgrounds/smoke.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header h1 {
  margin: 0;
  padding: 100px 0 40px 0;
  font-size: 400%;
}
header h2 {
  font-size: 200%;
  color: rgba(255, 255, 255, 0.75);
  padding-bottom: 1em;
}
header a {
  color: rgba(255, 255, 255, 0.75);
}

/*
*      Profile Styles
*/

#about {
  padding-top: 1em;
}

/*
*      Projects Styles
*/

#projects {
  padding-top: 1em;
}
#projects ul {
  list-style-type: none;
  padding: 0;
}


/*
*      Work Experience Styles
*/

#experience {
  padding-top: 1em;
}
#experience ul {
  padding-left: 2%; 
}

/*
*      Education Styles
*/

#education {
  padding-top: 1em;
}

/*
*      Certification Styles
*/

#certifications {
  padding-top: 1em;
}

/*
*      Links Styles
*/

#links {
  padding-top: 1em;
  padding-bottom: 1em;
}

#links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*
*      Footer Styles
*/
